img {
    margin-top: 20px;
    border-radius: 100px
}
h2 {
    font-size: 18px
}
body {
    background: linear-gradient(#78caf1, rgb(230, 114, 234));
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 100vh;
}
a {
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: blue;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,2);
}